.identity{
  width: 55%;
  font-size: 1.5rem;
}
.form_room{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.open_room_modal{
  background-color: #4f4e4e;
  color: white;
  font-size: 1.3rem;
  padding: 0.55rem;
  border-radius: 8px;
  border: 2px solide transparent;
}
.open_room_modal:hover{
  background-color: #656565;
  border: 2px solide rgb(184, 59, 59);
}


.door_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
  overflow: hidden;
  border-radius: 4px;
}

.door {
  width: 50%;
  height: 100%;
  background-color: #011502;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.door_left {
  background-image: url('../ressources/porte_blindee_left.png');
  background-size: cover;
  border-top: 4px solid #656565; /* Bordure grise en haut */
  border-left: 4px solid #656565; /* Bordure grise à droite */
  border-bottom: 4px solid #656565; /* Bordure grise en bas */
}

.door_right {
  background-image: url('../ressources/porte_blindee_right.png'); /* image à ajouter pour votre projet  */
  background-size: cover;
  border-top: 4px solid #656565; /* Bordure grise en haut */
  border-right: 4px solid #656565; /* Bordure grise à droite */
  border-bottom: 4px solid #656565; /* Bordure grise en bas */
}

.opening .door_left {
  animation: openLeft 1.5s forwards ease-in-out;
}

.opening .door_right {
  animation: openRight 1.5s forwards ease-in-out;
}

@keyframes openLeft {
  to {
    transform: translateX(-100%);
  }
}

@keyframes openRight {
  to {
    transform: translateX(100%);
  }
}

.settings{
  position: absolute;
  display: flex;
  top: 15px; /*px pour que la responsivité ne modifie pas sa position*/
  right: 15px; /*px pour que la responsivité ne modifie pas sa position*/
  width: fit-content;
  z-index: 2;
  overflow: hidden;
  border-radius: 4px;
}
/*modal pour modif de la room*/
.modal {
  display: none; /* Sera affiché via JS */
  /*position: fixed;*/ /*prendra la taille de la page*/
  position: absolute; /*prendra la taille de la div qui contien la modale*/
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

/*modale des rooms*/
.modal_content {
  background-color: #8e8e8e;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 28px;
  cursor: pointer;
}
div.choice_set{
  display: flex;
  width: fit-content;
  height: 4vh;
  gap: 1%;
}
.choice_set button{
  background-color: rgb(58, 92, 24); 
  color: #dedede;
  border-radius: 8px;
}

.danger-zone button {
  margin-top: 12px;
  background-color: #c0392b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.danger-zone button:hover {
  background-color: #e74c3c;
}
/* liste des collegue + vous */
li.liste_collegue{
  display: flex;
  align-items: center;
  gap: 2%;
  border-bottom: 4px solid darkgray; /*pour tester*/
  margin-bottom: 0.5rem;
  box-shadow: 4px 4px #525151;
}
.redCalliberSvg{
  color: #e74c3c;
  display: flex;
  margin-left: auto;
  border-left: 4px solid darkgray; /*pour tester*/
  border-right: 4px solid darkgray; /*pour tester*/
  border-top: 4px solid darkgray; /*pour tester*/
}
.CalliberPng{
  width: 25px;
}
li.liste_collegue:hover{
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: 0px 0px #525151;
}
/*modale*/

/* Notifications */
.notification-wrapper {
    position: fixed;
    top: 10vh;
    right: 2vw;
    z-index: 1000;
  }
  
  .burger {
    cursor: pointer;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  .burger:hover {
    background-color: #444;
  }
  
  .notifications {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 70vh;
    min-height: fit-content;
  }
  
  .notifications h4 {
    margin-top: 0;
  }
  
  .notifications ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notifications ul li {
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 1px solid #eee;
    text-align: start;
  }
  .notifications ul li button.delNotif {
    position: absolute;
    right: 90%;
  }
/* fin notification */

/* onglet pour l'affichage */
.tabs {
  position: absolute;
  z-index: 2;
  top: -2%;
  display: flex;
  gap: 1%;
  margin-bottom: 20px;
  width: fit-content;
  border-bottom: 4px solid gray;
  border-radius: 8px;
}
.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  background: #f3f4f6;
  border: none;
  border-radius: 6px;
  transition: background 0.3s;
  /* ajout pour design */
  bottom: -3px;
  position: relative;
  width: 10vw;
  border-bottom: 4px solid grey;
}
.tabs button.active-tab {
  /* background-color: #2563eb; */
  /* background-color: #01200F; */
  /* color: white; */
  color: black;
  border-bottom: 4px solid black;
}
.disp_flex {
  display: flex;
  gap: 20px;
}
.aff_room {
  flex: 2;
}
.list_room {
  flex: 1;
}
/* fin onglet affichage */

.corpus_holmes{
    position: relative;
    /* width: 99%; */
    background-color: #9EC5AB;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.modal_add_room{
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  background-color: #045007;
  color: white;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 1rem 2rem;
}
#create_room_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  /* width: 15vw; */
  text-align: center;
}
#create_room_form button[type="submit"] {
  background-color: #011502;
  color: white;
  font-size: large;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 8px;
  width: 60%;
}
#create_room_form button#close-room-modal{
  background-color: #e73701;
  color: white;
  font-size: large;
  font-weight: 600;
  padding: 0.4rem;
  border-radius: 8px;
  width: 60%;
}
/* .modal_add_room{
  padding: 1rem 2rem;
} */


.disp_flex{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 3rem;
}
.aff_room{
    position: relative;
    width: 70%;
    background-color: #011502;
    color: white;
    font-size: large;
    font-weight: 600;
    padding: 1rem;
    /* height: 50vh; */
    height: 70vh;
    /* overflow-y: scroll; */
    border-radius: 12px;
}
/* Nom de la room avec ajout */
.decal_title{
  position: absolute;
  top: -6%;

  display: flex;
  gap: 1rem;
}
.message_post{
  width: 100%;
  height: 100%;
}
.message_content{
  overflow-y: scroll;
  height: 60vh;
  background-color: #b6c7bc;
  border-radius: 8px;
  padding: 1rem 1rem 4rem 1rem;
}
.message_Sender{
  position: absolute;
  bottom: 2.1%;
  height: fit-content;
  color: #efefef;
  width: 100%;
}
.message_Sender input[type="text"]{
  width: 80%;
  padding: 0.8rem 0.4rem;
  border-radius: 8px;
  
}
.message_Sender .sender_btn{
  width: 15%;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: #e73701;
}
.list_room{
    position: relative;
    width: 25%;
    background-color: #01200F;
    color: white;
    padding: 1rem;
    /* height: 50vh; */
    height: 70vh;
    overflow-y: scroll;
    border-radius: 12px;
}

/* liste des rooms */
.rooms_container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    color: black; */
    display: grid;
    gap: 1rem;
    padding: 20px;
    color: black;
}

.room_card {
    background-color: #f0f0f0; /* Couleur de fond pour chaque carte */
    border-radius: 15px; /* Coins arrondis */
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    transition: transform 0.2s ease-in-out; /* Transition douce pour l'effet de survol */
    text-align: center;
    cursor: pointer;
}

.room_card:hover {
    transform: translateY(-5px); /* Effet de "flottement" lors du survol */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Ombre plus marquée lors du survol */
    background-color: #9EC5AB;
}

.room-link {
    text-decoration: none; /* Retirer le soulignement du lien */
    color: inherit; /* Hériter de la couleur du texte */
}

.room-link h3 {
    font-size: 1.25rem;
    color: #333; /* Couleur du texte */
    margin-bottom: 10px;
}

.room-link p {
    font-size: 1rem;
    color: #666; /* Couleur pour les informations supplémentaires */
}

/* section search user */
.search_users{
  height: 70vh;
  padding: 1rem;
}

