*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body{
    background-color: #32746D;
    color: white;
}

/* Par defaut pour tous les boutons du site */
button{
    background:transparent;
    border:none;
}