<!DOCTYPE html>
<html>
<head>
  <title>Code d'acces</title>
  <link rel="icon" type="image/x-icon" href="/static/ressources/logoU.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style_for_all.css">
  <link rel="stylesheet" type="text/css" href="/static/css/access.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bg_canvas.css">
</head>
<body class="bg-line">
  <canvas id="matrixCanvas"></canvas>
  <div class="access_square">
    <h1>Entrez le code d'acces</h1>
    <form method="POST" class="pass_code">
      <input type="text" name="code" placeholder="Code" required />
      <button type="submit">Entrer</button>
    </form>
    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}
  </div>
</body>
</html>
<script src="/static/js/hack_er.js"></script>
