<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier votre profil</title>
    <link rel="icon" type="image/x-icon" href="/static/ressources/logoU.png">
    <link rel="stylesheet" type="text/css" href="/static/css/style_for_all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body class="bg-line">
    <!-- <a href="/home">Retour sur la page principale</a> -->
    <header>
        <a href="/home" class="logo"><img src="/static/ressources/logoU.png" alt="logoU"></a>
        <div class="header-actions">
          <button class="redir" id="">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
              <path fill="currentColor" d="M12 12.25c1.24 0 2.25-1.01 2.25-2.25S13.24 7.75 12 7.75S9.75 8.76 9.75 10s1.01 2.25 2.25 2.25m4.5 4c0-1.5-3-2.25-4.5-2.25s-4.5.75-4.5 2.25V17h9zM19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14z"/>
            </svg>
          </button>
          <form method="POST" action="/logout">
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                <path fill="currentColor" d="M6 2h9a2 2 0 0 1 2 2v2h-2V4H6v16h9v-2h2v2a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2"/>
                <path fill="currentColor" d="M16.09 15.59L17.5 17l5-5l-5-5l-1.41 1.41L18.67 11H9v2h9.67z"/>
              </svg>
            </button>
          </form>
        </div>
      </header>
    <!-- <div class="access_square">
        <h1>Modifier vos informations</h1>
        {% if pseudo %}
        <form class="edit_form" id="edit_form">
            <label>Email:</label>
            <input type="email" name="email" value="{{ email }}"><br>
    
            <label>Pseudo:</label>
            <input type="text" name="pseudo" value="{{ pseudo }}"><br>
    
            <button type="submit" id="edit_form_btn" class="block_btn">Enregistrer</button>
        </form>
    
        <p id="message_erreur"></p>
        {% endif %}
        <a href="/home">Retour à la page principale</a>
    </div> -->
    <div class="profile-container">
      <h1>Profil de {{ pseudo }}</h1>

      <div class="profile-details">
          <form id="profile_form" class="edit_form" method="POST" action="/update_profile">
              
              <label>Email :</label>
              <input type="email" name="email" value="{{ email }}" readonly>

              <label>Pseudo :</label>
              <input type="text" name="pseudo" value="{{ pseudo }}" readonly>

              {% if is_owner %}
              <p id="message_erreur"></p>
              <div class="btn-group">
                  <button type="button" id="edit_btn" class="edit-btn">Modifier</button>
                  <button type="submit" id="save_btn" class="save-btn" style="display: none;">Enregistrer</button>
              </div>
              {% endif %}
          </form>
          <div id="friends-container">
            <h2>Mes Amis</h2>
            <div id="friend-list" class="friend-list"></div>
          </div>
      </div>
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const messageEl = document.getElementById("message_erreur");
        let check_email = document.querySelector('input[name="email"]').value;
        let check_pseudo = document.querySelector('input[name="pseudo"]').value;

        const emailInput = document.querySelector('input[name="email"]');
        const pseudoInput = document.querySelector('input[name="pseudo"]');
        const submitBtn = document.getElementById('edit_btn');
        const saveBtn = document.getElementById("save_btn"); // pour confirmer
        
        function displayList(friendlist) {
          const listContainer = document.getElementById('friend-list');
          listContainer.innerHTML = ''; // Clear old list

          if (friendlist.length === 0) {
            listContainer.innerHTML = "<p>Aucun ami pour le moment.</p>";
            return;
          }

          friendlist.forEach(friend => {
            const card = document.createElement('div');
            card.className = 'friend-card';

            card.innerHTML = `
              <div class="friend-info">
                <a href="/profile/show/${friend.uuid}" class="friend-name">${friend.pseudo}</a>
                <span class="friend-date">Ami depuis le ${new Date(friend.created_at).toLocaleDateString()}</span>
              </div>
            `;

            listContainer.appendChild(card);
          });
        }
        // /api/friendlist
        async function displayFriendList(){
          const resu = await fetch(`/api/friendlist`);
            const friendlist = await resu.json();
            console.log("rooms ULTIMEFLASH: \n",friendlist)
            displayList(friendlist);
        }
        if (typeof displayFriendList === 'function') displayFriendList();

        document.querySelector("form.edit_form").addEventListener("submit", async function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);
            const data = {
                email: formData.get("email"),
                pseudo: formData.get("pseudo")
            };

            
            const res = await fetch("/profile/edit", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
      
            const text = await res.text();
            
            console.log("donnée", data)
            console.log("res", res)
            if (res.ok) {
                messageEl.innerText = "Profil mis à jour avec succès. Redirection...";
                // Rediriger après 1.5 seconde
                setTimeout(() => {
                    window.location.href = "/profile";
                }, 1500);
            } else {
                messageEl.innerText = "&Erreur : " + text;
            }
        });
        
        const checkForChanges = () => {
          console.log('arrabic game');
          const current_email = emailInput.value;
          const current_pseudo = pseudoInput.value;

          if (current_email !== check_email || current_pseudo !== check_pseudo) {
              saveBtn.disabled = false;
              saveBtn.className = "start_btn"
              console.log("bouton débloqué")
          } else {
              saveBtn.disabled = true;
              saveBtn.className = "block_btn"
              console.log("bouton bloqué")
          }
        };
        checkForChanges();
        // Écouteurs sur les deux champs
        emailInput.addEventListener('input', checkForChanges);
        pseudoInput.addEventListener('input', checkForChanges);

        // endroit à tester changeur 
        const editBtn = document.getElementById("edit_btn");
        // const saveBtn = document.getElementById("save_btn");
        const inputs = document.querySelectorAll("#profile_form input");

        editBtn?.addEventListener("click", () => {
            
            if (submitBtn.textContent != "Retour"){
              inputs.forEach(input => input.removeAttribute("readonly"));
              submitBtn.textContent = "Retour";
              saveBtn.style.display = "inline-block";
            } else {
              inputs.forEach(input => input.setAttribute("readonly", true));
              submitBtn.textContent = "Modifier";
              saveBtn.style.display = "none";
            }
        });


      });
    </script>
    
</body>
</html>

