<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="icon" type="image/x-icon" href="/static/ressources/logoU.png">
  <link rel="stylesheet" type="text/css" href="/static/css/style_for_all.css">
  <link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>
<body>
  <div class="access_square">
    <h1>Inscription</h1>
    <form method="POST" class="pass_code">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Mot de passe" required />
      <button type="submit">S'inscrire</button>
    </form>
    <p>Deja inscrit ? <a href="/login">Se connecter</a></p>
    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}
  </div>
</body>
</html>
